$fuente-principal: "Archivo Black", sans-serif;
$fuente-secundaria: "Barlow", sans-serif;

$rojo : #c41f1c;
$rojo2 : #ff3936;
$rosa : #ff7673;
$blanco: #ffffff;
$negro: #000000;
$gris-ocuso : #191919;
$gris-claro: #777777;
$gris-medio : #404040;



$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1080px;