@use '../base/variables' as v;
@use '../base/mixins' as m;

.header {
    background-color: v.$gris-ocuso;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include m.desktop {
        flex-direction: row;
        gap: 0;
    }

    justify-content: space-around;
    align-items: center;
    padding: 2rem;

    h1 {
        margin: 0;
        color: v.$blanco;
        span {
            color: v.$rojo;
        }
    }

    .header-informacion {
        display: flex;
        flex-direction: column;

        @include m.tablet {
            flex-direction: row;
        }

        gap: 2.5rem;

        a {
            font-weight: 700;
            color: v.$blanco;

            &:hover {
                color: v.$rojo2;
            }
        }
    }

}