@use '../base/variables' as v;
@use '../base/mixins' as m;

.header {
    z-index: 10;
    background-color: v.$gris-ocuso;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 10;

    &.fade-in {
        animation: fadeIn ease-in 0.5s;
    }
    &.fade-out {
        animation: fadeOut ease-in 0.25s;
    }

    @include m.tablet {
        &.fixed {

            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
        }

    }

    @include m.desktop {
        flex-direction: row;
        gap: 0;
    }

    justify-content: space-around;
    align-items: center;
    padding: 2rem;

    h1 {
        margin: 0;
        color: v.$blanco;

        span {
            color: v.$rojo;
        }
    }

    .header-informacion {
        display: flex;
        flex-direction: column;

        @include m.tablet {
            flex-direction: row;
        }

        gap: 2.5rem;

        a {
            text-align: center;
            font-weight: 700;
            color: v.$blanco;

            &:hover {
                color: v.$rojo2;
            }
        }
    }

}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}