@use '../base/variables' as v;
@use '../base/mixins' as m;

.informacion {
    background-color: v.$rojo;
    padding: 5rem 0;

    @include m.tablet {
         padding: 10rem 0;
    }

    h3 {
        text-align: center;
        color: v.$blanco;
        font-size: 3rem;

        @include m.tablet {
            font-size: 5.2rem
        }
    }

    &-texto {
        @include m.contenedor;

        @include m.tablet {
            @include m.grid(2);
        }

        img {
            max-width: 100%;
            width: 40rem;
            height: auto;
            display: block;
            margin: 0 auto;
            padding-bottom: 5rem;

            @include m.tablet {
                padding-bottom: 0;
            }
        }

        p {
            background-color: v.$rojo2;
            font-weight: 800;
            text-align: justify;
            padding: 3rem;
            margin: auto;

        }

    }



}