@use '../base/variables' as v;
@use '../base/mixins' as m;

.proximos-eventos {
    background-color: v.$negro;


    position: relative;
    overflow: hidden;
    min-height: 50rem;

    @include m.tablet {
        height: 80rem;
    }



    .bg-imagen {
        width: 100%;
        object-fit: cover;
        object-position: center center;

        &.fade-in{
            animation: fadeIn ease-in 1s forwards ;
        }
        &.fade-out{
            animation: fadeOut ease-in 1s forwards;
        }

    }

}


.informacion-eventos {
    position: absolute;
    background-color: rgba(v.$negro, 0.4);
    inset: 0;

    h3 {
        text-align: center;
        margin: 5rem;
        color: v.$negro;
    }

}

.informacion-contenido {

    background-color: rgba(v.$gris-medio, 0.9);
    border-radius: 5rem;
    padding: 4rem;
    @include m.contenedor;
    display: flex;
    gap: 6rem;
    align-items: center;


    img {
        width: 30%;
        height: auto;
    }


    .carrea-desc {
        margin: 0;
        font-weight: 600;
        color: v.$negro;
        text-align: justify;
        font-size: 4rem;
    }

    button {

        width: 100%;
        cursor: pointer;
        background-color: v.$rosa;
        font-size: 3rem;
        border: none;
        padding: 1.5rem;
        border-radius: 10rem;

        &:hover {
            background-color: v.$rojo;
        }
    }

}

.datos-info {
    p {
        color: v.$blanco;
        text-transform: uppercase;
        font-size: 3rem;
        text-align: center;
    }

    margin-bottom: 2rem;


}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}